body {
  width: 100%;
  height: 100%;
  margin: 0;
}
nav > a {
  background-color: rgb(209, 209, 209);
  padding: 0px 10px;
}

section#featured-property > p {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
  width: 800px;
}

.center {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}


section#details > div {
  float: left;
  text-align: center;
  width: 25%;
  background-color: rgb(255, 60, 60);
}